.products-container {
  background-color: #f9f9f9;
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  /* border:1px solid #000; */
  border-radius: 7px;
  padding: 5%;
  margin: 5% auto;
  display: flex;
}

.flex2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-right: 0.1px solid grey;
}

.flex_content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5% 10%;
    flex: 1;
}

#subs-h2 {
    font-weight: 600;
}

#subs-h4 {
    font-weight: 400;
}

#subs-span {
    font-weight: 200;
}

#subs-h4 {
    margin: 0;
}

#subs-ul {
    padding-inline-start: 7%;
    margin: 20% 0;
    list-style-type: block;
}
#subs-li {
    font-weight: 200;
}


/* button {
    outline: none;
    border: none;
    background: #f9f9f9;
    color: #000;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
} */

#subs-btn {
    text-decoration: none;
    color: #fff; /* Set link color to black */
    border: 1px solid #000; /* Set border color to black */
    padding: 10px 20px;
    border-radius: 1.5px;
    display: inline-block;
    margin-top: 20px;
    transition: background-color 0.3s, color 0.3s; 
    background: black;
}


@media screen and (max-width: 768px) {
  .products-container {
    flex-direction: column;
  }

  .flex2 {
    border: none
  }
}
