@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700&display=swap');
body {
  background-color: #fff; /* Set background color to white */
  color: #000; /* Set text color to black */
  font-family: 'Prompt', sans-serif;
  margin: 0;
}



